@charset "utf-8";
/* CSS Document */
div {
  width: 300px;
  margin: auto;
	padding: 1%;
  color: white;
  background-color: #448AFF;
  display: inline-block;
}
.tehran{
    background-color: #448AFF;
	  color: black;
}
.londan{
     background-color: #fff4a3;
	  color: black;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 5px;
	margin: 1px;
  text-align: center;
} 
